@import url('https://docs.google.com/forms/d/e/1FAIpQLSehk8EODrJwaiq0VmxBebpj5oRFHMxiXi1S_hdea0s__1s6aQ/viewform?usp=publish-editor');

*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 'Montseerat' , sans-serif;
}
:root{
    --primary-color: #fff;
    --primary-shade: #f7f5f2;
    --secondary-color: #000;
    --red-color: #d40700;
    --red-shade: #b20600;
    --accent-color: #ffee63;

}


ul li{
    list-style: none;
}


a{
    text-decoration: none;
}

/*header section*/
header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg,rgba(2,0,36,1)0%,rgba(50,50,51,1,35%,rgba(0,212,255,1)100%));
    background: linear-gradient(to right,#040404,#242424,#656565);
    color:var(--primary-color);
}

.nav-bar{
      padding: 30px 0;
}

span{
    color: var(--red-color) ;
}

ul li a{
    margin:0 10px;
    padding: 0 5px;
    color: var(--accent-color);
    font-size: 18px;
    cursor: pointer;
}


ul li a::before{
    content: '';
    width: 0;
    position: absolute;
    bottom:-5px;
    left: 0;
    right: 2px;
    background-color:var(--primary-color);
    transition: 0.6s ease;
}

ul li a:hover::before{
    width: 100%;
}

/*button*/

.btn{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color:var(--red-color);
    color:var(--primary-color) ;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 0 5px;
    font-weight: 500;
}


.btn:hover{
    background-color: var(--red-shade);
    color: var(--primary-shade);
    border:2px solid var(var(--red-color));
}



.content{

    height:90vh;
    content: relative;
}
.right img{
    width: 100%;
    border-radius: 50%;
    /* box-shadow: 0 0 25px #ff4d4d; */
    position: relative; 
    z-index: 1; 
    
}
h4,p{
    font-family: 'poppins',sans-serif;
}

